.gmap-container {
    overflow-x: hidden;
    #gmap {
        width: 100%;
    }
    @media (max-width: 400px) {
        padding-left: 0px;
        padding-right: 0px;
        #gmap {
            width: 400px;
        }
    }
    @media (min-width: 401px) and (max-width: 570px) {
        padding-left: 0px;
        padding-right: 0px;
        #gmap {
            width: 100vw;
        }
    }
}