// $cover-image: url('../../public/images/cover.JPG');

.home {
	margin: 0px;

	h1 {
		font-size: 39px;
		// color: white;
	}

	// Cover section
	.cover-section {
		.cover-height {
			height: 45vh;
			@media (min-width: $md-min-width) {
				height: 55vh;
			}
		}

		.cover-img {
			width: 100vw;
			position: absolute;
			z-index: -1;
	    	object-fit: cover;
		}

		.cover-logo-container {
			width: 100%;
			display: flex;
			justify-content: center;
			background: linear-gradient(to bottom, rgba(1,1,1,0.8), rgba(1,1,1,0.8) 50%, rgba(0,0,0,0));

			.cover-logo {
				height: 160px;
			}
		}

		.cover-title-container {
			display: flex;
			justify-content: center;

			.cover-title {
				// TODO better font
				width: 300px;
				text-align: center;
				color: white;
			}
		}
	}

	// Menu section
	.menu-section {
		.menu-img {
		}
	}


}