.home {
    background-color: $color-white;
    margin: 0px;

    .welcome {
        text-align: center;
    }

    .hours {
        text-align: center;
        background-color: $color-dark-red;
        color: $color-sand-haze;

        .schedule {
            text-align: left;
            display: flex; // TODO make flex compatible
            flex-direction: row;
            justify-content: center;
            
            .schedule-days {
                width: 52px;
            }
            .schedule-hours {
                margin-left: 24px;
                width: 155px;
            }
        }
    }

    .delivery {
        text-align: center;
        background-color: $color-green-pepper;
        color: $color-sand-haze;
        text-align: center;
    }

    .menu-section {
        text-align: center;

        .row {
            img {
                padding-top: 25px;
                padding-bottom: 25px;
            }
        }
    }

    .address {
        text-align: center;
        background-color: $color-dark-orange;
        color: $color-sand-haze;
    }

    .footer-section {
        background-color: black;
        height: 100px;
    }
}