.home {
    background-color: $color-sand-haze;
    margin: 0px;

    .welcome {
        .content {
        }
    }

    .hours {
        .schedule {
            display: flex; // TODO make flex compatible
            flex-direction: row;
            
            .schedule-days {
                width: 20px;
            }
            .schedule-hours {
                padding-left: 20px;
                width: 135px;
            }
        }
    }

    .menu-section {
    }

    .social-media-section {
    }

    .footer-section {
        background-color: black;
        height: 200px;
    }
}