
// Colors
$color-pale-gray: #818a91;
$color-wild-sand: #F4F4F4;
$color-sand-haze: #F7F7F7;
$color-white: #ffffff;
$color-orange-pepper: #f47e2e;
$color-dark-orange: #e88504;
$color-army-orange: #deb69a;
$color-dark-red: #9c3115;
$color-red-pepper: #d03107;
$color-army-red: #d29c9b;
$color-green-pepper: #078442;
$color-army-green: #B2C1AB;
$color-army-green2: rgb(180, 189, 175);
