// Media queries
// http://v4-alpha.getbootstrap.com/layout/responsive-utilities/
$xs-min-width: 0px;
$sm-min-width: 544px;
$md-min-width: 768px;
$lg-min-width: 992px;
$xl-min-width: 1200px;

// Colors
$color-grey-footer: #818a91;
